<section>
    <h3>Ürünler</h3>
    <div class="container">
        <div class="card">
            <div class="img"></div>
            <div class="content">

                <!--* SERVICE AKTARIMI BAŞARISIZ OLUNDU. || 

                <h5>{{UserService.name}}</h5>
                <p>{{usersService.category}}</p>-->
                
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <p>120$</p>
                <a href="#">Satın Al</a>
            </div>
        </div>
    </div>
</section>
