<section>

    <h3>Yönetici</h3>
    <div class="forms">
        <form action="#">
            <div class="row">
                <label for="#">Ürün Adı: </label>
                <input type="text">
            </div>
            <div class="row">
                <label for="#">Kategori: </label>
                <select id="ticaret">
                    <option value="ayakkabı">Ayakkabı</option>
                    <option value="kıyafet">Kıyafet</option>
                    <option value="takı">Takı</option>
                    <option value="iccamasir">İç çamaşır</option>
                </select>
            </div>
            <div class="row">
                <label for="#">Açıklama: </label>
                <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="row">
                <label for="#">Fiyat: </label>
                <input type="number">
            </div>
            <div class="row">
                <label for="#">Resim: </label>
                <input type="file">
            </div>
            <input type="button" value="Kaydet">
        </form>
    </div>
    <div class="control-panel">
        <div class="container">
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
            <div class="card">
                <div class="img"></div>
                <div class="content">
                    <h5>Ürün Adı</h5>
                    <p>Kategori Adı</p>
                </div>
                <div class="buttons">
                    <a href="#">Güncelle</a>
                    <a href="#">Sil</a>
                </div>
            </div>
        </div>
    </div>

</section>