<footer>
    <h1><b>E</b>Ticaret</h1>
    <div class="footer-area">
        <a href="mailto:anil.gunduuz@gmail.com">anil.gunduuz@gmail.com</a>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/anilgunduuz/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/agunduuz"><i class="fa-brands fa-github"></i></a>
            <a href="https://medium.com/@anil.gunduuz"><i class="fa-brands fa-medium"></i></a>
        </div>
        <div class="mail">
            <input type="text" placeholder="Your Mail Adress">
            <button><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>
</footer>