<section>
    <h3>Anasayfa</h3>
    <div class="container">
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
        <div class="card">
            <div class="img"></div>
            <div class="content">
                <h5>Ürün Adı</h5>
                <p>Kategori Adı</p>
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a routerLink="/products">Ürün Detay</a>
        </div>
    </div>
</section>